
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Cabin', arial;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #169990;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$blue: #169990;/*3490dc;*/
$maingray: #777777;
$secondarygray: #F4F4F4;
$tertiarygray: #4F4F4F;
$forthgray: #F7F7F7;
$fifithgray: #F2F2F2;
$sixthgray: #BDBDBD;
$seventhgray: #E0E0E0;
 