
// Fonts
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Cabin');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/////////////////////////////
// PADRÕES
/////////////////////////////
.title--smaller {
	color: $maingray;
    font-size: 1em;
    margin: 15px 0 20px;
    text-transform: uppercase;
}

/////////////////////////////
// CRIAÇÃO DE CONTEÚDO
/////////////////////////////

.criacaodeconteudo {

	.file-input{
		display:none;
	}

	.fake-input{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		cursor: pointer;
		opacity: 0;
	}

	#img_fake{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		border: 1px dotted $secondarygray;
	}

	.file-drop-area {
		margin: 0;
		padding: 13px 5px;
		border: 0;
		text-align: center;
		background: $secondarygray;
		color: $tertiarygray;
	    font-size: 0.9em;
	    width: auto;
	    border-radius: 10px;
		position: relative;
		display: flex;
		align-items: center;
		transition: 0.2s;

	    &:hover {
	    	cursor: pointer;
	    	background: $green;
	    	color: #fff;

	    	img {
	    		opacity: 0;
	    	}
	    }

		.fake-btn {
	  		margin: 0 auto;
	  		height: 190px;
	    	display: flex;
	    	flex-flow: column;
	    	justify-content: center;
		}

		.fake-btn i {
		  display: block;
		  font-size: 2em;
		  line-height: 0.5em;
		}

		.img_fake {
		    position: absolute !important;
		    height: 68px;
		    width: 152px !important;
		    object-fit: cover;
		    border-radius: 10px;
		    -moz-transition: 0.5s ease-in-out;
		    -webkit-transition: 0.5s ease-in-out;
		}

		.conteudoimg_item {
			.img_fake {
			    top: 0;
			    left: 0;
				height: 68px !important;
			    width: 142px !important;
			}
		}
	}

	.delete-button {
		position: absolute;
	    z-index: 2;
	    right: -15px;
	    top: -10px;

	    a {
	    	padding: 4px 4px 0px;
		    border: 1px solid $maingray;
		    background: white;
		    border-radius: 50%;
		    font-size: 1.2em;
		    color: $maingray;
		  	-moz-transition: .25s ease-in-out;
		  	-webkit-transition:  .25s ease-in-out;

		    &:hover {
		    	background: $maingray;
		    	color: #fff;
		    	text-decoration: none;
		    }
	    }
	}

	textarea.form-control {
		min-height: 110px;
	}

	.label__bold {
		font-weight: bold;
	}

	.input-group-text {
		border: 0;
	    border-bottom: 1px solid #ced4da;
	}

	.custom-file-label {
		border: 0;
	    border-bottom: 1px solid #ced4da;
	}

	.custom-file-input:hover {
		cursor: pointer;
	}

	.custom-file-label::after {
	    content: "Imagem";
	    background-color: $secondarygray;
	    color: $maingray;
	    border: 1px dotted $maingray;
        border-radius: 5px;
	}

	.formatodositens {
		margin-bottom: 15px;

		.btn-secondary {
			background: white;
			padding: 5px 19px;
		    margin: 0 5px 0 0;
			color: $maingray;
			border: 0;

			&:hover { color: #fff; background: $green; }
		}

		.btn-primary { 
			color: $green;
			background: rgba(18, 170, 218, 0.15);
			padding: 5px 19px;
		    margin: 0px 5px 0 0;
			border: 0;
		}

		i {
		    padding: 0 8px 0 0;
    		font-size: 0.8em;
		}

	}

	.bottombuttons {
		padding: 15px 0;

		.lastbuttons {
			text-align: right;

			.btn-outline-primary {
				border: 0;
			}
		}
	}

	.list-group-item {
		margin: 8px 0;
		border-radius: 5px;
	}

	.list-group-item-secondary {
		background-color: #fff !important;
	}

	.btn-adicionaritem {
		color: $green;
		background: rgba(18, 170, 218, 0.15);
		text-align: left;
		width: 100%;
	    padding: 10px 15px;

	    &:hover {
	    	color: #fff;
	    	background: $green;
	    }

	    .icon-plus {
			font-size: 1.5em;
		    line-height: 0;
		    margin-top: 0px;
		    float: left;
		    padding-right: 10px;
	    }
	}

	.card-header {
		i {
			float: right;
			padding-top: 2px;
		}

		&:hover {
			cursor: pointer;
		}
	}

	.card-body-sidbar {
		border: 1px dotted rgba(0, 0, 0, 0.125);
	}

	.informationonselect {
	    float: right;
	    position: relative;
	    z-index: 99;
	    font-size: 1.3em;
        margin-top: -30px;
	}

	.info-numeric {	margin-right: 470px; }
	.info-satisfacao {	margin-right: 480px; }
	.info-concordancia { margin-right: 312px; }
	.info-frequencia { margin-right: 485px; }
	.info-emocional { margin-right: 510px; }

	.form-check {
		color: $tertiarygray;
		display: block;
		position: relative;
		list-style: none;
		margin: 0;
		padding: 0;
		overflow: auto;

		&:last-child { border-bottom: 0; }

	    select {
	    	margin: 0 15px;
	    	border: 0;
	    	&:first-child { margin-left: 0; }
	    }

	    input[type=radio]{
		  position: absolute;
		  visibility: hidden;
		}

		label{
			display: block;
			position: relative;
			font-size: 1em;
		    padding: 5px 25px 5px 35px;
		    height: auto;
			z-index: 9;
			cursor: pointer;
			-webkit-transition: all 0.25s linear;
		}

		.check{
			display: block;
			position: absolute;
			border: 2px solid #AAAAAA;
			border-radius: 100%;
			height: 20px;
			width: 20px;
		    top: 5px;
			left: 0px;
			z-index: 5;
			transition: border .25s linear;
			-webkit-transition: border .25s linear;
		}

		.check::before {
			display: block;
			position: absolute;
			content: "";
			border-radius: 100%;
			height: 10px;
			width: 10px;
			top: 3px;
			left: 3px;
			margin: auto;
			transition: background 0.25s linear;
			-webkit-transition: background 0.25s linear;
		}

		input[type=radio]:checked ~ .check {
		 	border: 2px solid $green;
		}

		input[type=radio]:checked ~ .check::before{
		 	background: $green;
		}

		input[type=radio]:checked ~ label{
		 	color: $green;

		 	select { color: $green; }
		}
	}
}

/////////////////////////////
// ADMIN
/////////////////////////////
.titlestyle {
	font-size: 1.8em;
}

.admin-page {
	color: $tertiarygray;

	.card-header {
		font-size: 1.3em;
	}

	.card-body {
	    padding: 30px;
        border: 1px solid $seventhgray;
	}

	.cadastrouser {
		label {
			font-weight: bold;
			float: right;
			width: 55px;
			margin-left: 20px;
		}

		.btn {
			padding: 7px 35px;
		    margin-left: 75px;
		    margin-top: -30px;
		}
	}
 
	.alert-message {
		border-left: 3px solid $green;
		padding: 0 35px;
	    height: 140px;

	    .span {
	    	font-size: 1.5em;
	    	margin-bottom: 10px;
	    }

	    span {
	    	color: $green;
	    }
	}
}

.usertable {
	thead tr {
		background: $green;
		color: #fff;
		font-size: 1.3em;
	    border-bottom: 0;
	}

	thead tr th {
        font-weight: normal;
	}

	.remove-access {
	    background: transparent;
	    border: 0;
	    line-height: 1.3em;
	    color: #777777;
	    width: 110px;
	    float: right;

		i {
			color: #12AADA;
			padding-right: 0px;
			float: left;
			height: 45px;
			padding-top: 7px;
			font-size: 1.8em;
		}
	}

	.pull-right {
		text-align: right;
	}
}

/////////////////////////////
// CONTEÚDO
/////////////////////////////

// BOTÕES DO TOPO
.btnsconteudo {
	margin: 32px 0 20px;

	.btn {
		padding: 8px 24px;

		&:first-child {
			margin: 0 15px 0 -15px;
		}
	}

	i {
		float: left;
	    padding: 2px 5px 0 0;
	}
}

// LISTAGEM DAS INTERAS
.mainconteudo {
	font-family: $font-family-sans-serif;
	color: $tertiarygray;

	.conteudosingle {
	    margin: 0px 0 30px;
		background-color: #fff;
		border-radius: 4px;
		-webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
		box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
		position: relative;
	    min-height: 200px;
	}

    .conteudoimgthumb {
		float: left;
	    left: 0px;
	    position: absolute;
	    height: 200px;
	    width: 215px;
        object-fit: cover;
        border-radius: 4px;
    }

	.infoconteudo {
	    padding: 15px 0px 0px 216px;

		.label__uppercase {
		    text-transform: uppercase;
		    line-height: 0;
		    font-size: 0.9em;
		}

		.titleconteudo__bold {
			font-weight: bold;
		}
	}

	.infoconteudoelse {
	    padding: 15px 0px 0px 15px;

		.label__uppercase {
		    text-transform: uppercase;
		    line-height: 0;
		    font-size: 0.9em;
		}

		.titleconteudo__bold {
			font-weight: bold;
		}
	}

	.opcoesconteudo {
	    padding: 20px 15px 15px 15px;

	    i {
			float: left;
		    padding-top: 3px;
		    padding-right: 5px;
	    }

		button {
			text-align: left;
			padding: 2px 10px;
		    font-size: 1.1em;
		    text-decoration: none;

			&:hover,focus {
				color: #fff;
	    		background: $green;
	    		
			}
		}
	}

	.paragraphconteudo {
		margin: 0;
		font-size: 0.9em;
	}

	.detailsconteudo {
		padding: 40px 0 0;
	    font-size: 0.9em;
	    position: absolute;
	    bottom: 0%;

		label {
		    padding-right: 20px;
		    border-right: 1px solid;
		    margin-right: 20px;

		    &:last-child { border-right: 0; }
		}
	}
}

	// PAGINAÇÃO
	.pagination {
	  font-family: roboto-condesed-regular, arial, sans-serif;
	  font-size: 1.05em;
	}

	.pagination>.active>a,
	.pagination>.active>a:focus,
	.pagination>.active>a:hover,
	.pagination>.active>span, .pagination>.active>span:focus,
	.pagination>.active>span:hover {
	  background-color: $green;
	  border-color: $green;
	  border-radius: 5px;
	}

	.pagination>li>a:focus,
	.pagination>li>a:hover,
	.pagination>li>span:focus,
	.pagination>li>span:hover {
	  background: $green;
	  color: #fff;
	  border: 1px solid $green;
	}

	.pagination>li>a, .pagination>li>span {
	  border: 0;
	  margin: 0 5px;
	  color: $green;
	  border: 1px solid $green;
	  border-radius: 5px;
	  padding: 5px 12px;
	  background: transparent;
	  -moz-transition: .25s ease-in-out;
	  -webkit-transition:  .25s ease-in-out;
	}

	.pagination ul li:first-child span,
	.pagination>li:last-child>a, .pagination>li:last-child>span,
	.pagination>li:first-child>a, .pagination>li:first-child>span {
	  border: 0;
	  padding: 8px 10px 5px;
	  background: transparent;
	}

	.page-item.disabled .page-link {
		background: transparent;
	}

/////////////////////////////
// MODAL AGRUPAR
/////////////////////////////
.modalagrupar {
	.conteudolista {
	    overflow-y: auto;
	    height: 350px;
	    min-height: 25px;
	}

	.incorporaremlista {
		background: $forthgray;
        margin-bottom: 10px;
        padding-top: 12px;
        overflow-y: auto; 
        height: 350px; 

		.itemlista {
			color: #fff;
			background: $green;
		    margin: 0 12px 12px 12px;
		    padding-left: 42px;
		    border: 0;
		    border-radius: 4px;
		    background: $green url("../img/drag-icon-selected.png") no-repeat 10px center;

		    &:hover {
		    	cursor: move;
		    }
		}
	}

	.itemlista {
	    margin: 0 12px 12px 0;
        padding-left: 42px;
	    border: 0;
	    border-radius: 4px;
	    background: $fifithgray url("../img/drag-icon.png") no-repeat 10px center;

	    &:hover {
	    	cursor: move;
	    }
	}
}

	.modal-footer {
		button {
			margin-top: 0 !important;
		}
	}

/////////////////////////////
// ESTATÍSTICAS
/////////////////////////////
.estatisticabody {
	padding: 30px;

	h2 {
		color: $tertiarygray;
		font-weight: bold;
	}

	.tableestatistica {
		color: $tertiarygray;

		.tabletop {
			background: $green;
			color: #fff;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;

			td {
				padding: 15px 20px 9px;

				&:first-child { border-top-left-radius: 5px; border: 0; }
				&:last-child { border-top-right-radius: 5px; border: 0; }
			}
		}

		tr:last-child {
			border-bottom: 2px solid $seventhgray;
		}

		h3, .h3 {
		    font-size: 1.4em;
		}

		.title-last {
			text-align: right;
		}

		img {
			margin-right: 10px;
		}
	}

	.tableestatistica-charts {
		td {
			padding: 25px 0;
		}
	}

	.title-detalhamento {
		background: $green;
		color: #ffffff;
		width: 100%;
		margin-top: 32px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		padding: 15px 20px;
		margin-bottom: 0;
	}

	.tableresults { 
		text-align: right;

		.percent {
			font-weight: bold;
			font-size: 1.20em;
		}

		span {
			display: block;
			color: $maingray;
		}

		.imgtitle {
		    padding-left: 15px;
		    margin-left: 15px;
		    float: right;
		    border-left: 1px solid;
		}
	}
}

/////////////////////////////
// QUERIES
/////////////////////////////

// XS
/* IPHONE 5S */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 375px) {

	.btnsconteudo .btn {
	    padding: 8px 18px;
	}

	.mainconteudo .conteudoimgthumb {
	    width: 100%;
	}

	.mainconteudo .infoconteudo {
    	padding: 215px 0px 0px 0px;
	}

	.mainconteudo .detailsconteudo {
	    padding: 30px 0 0;
	    position: relative;
	}

	.mainconteudo .opcoesconteudo button {
	    width: 46%;
	    border: 1px solid;
	    float: left;
	    margin: 5px;
	}

	.estatisticabody .tableresults .imgtitle {
	    padding-left: 0;
	    margin-left: 0;
	    float: none;
	    border-left: 0;
	}

	.criacaodeconteudo .info-numeric {	margin-right: 25px; }
	.criacaodeconteudo .info-satisfacao {	margin-right: 30px; }
	.criacaodeconteudo .info-concordancia { margin-right: 0px; }
	.criacaodeconteudo .info-frequencia { margin-right: 35px; }
	.criacaodeconteudo .info-emocional { margin-right: 60px; }

	.firstbuttons {
		button { font-size: 0.9em }			
	}

	.admin-page .cadastrouser .btn {
	    padding: 7px 35px;
	    margin-left: 0;
	    margin-top: -15px;
	    margin-bottom: 30px;
	    width: 100%;
	}

	.admin-page .cadastrouser label {
	    width: 50px;
	}

	.admin-page .alert-message {
	    border-left: 0;
	    padding: 0;
	    font-size: 0.9em;
	    height: auto;
	}

	.admin-page .cadastrouser label {
	    margin-left: 0px;
	}

	.criacaodeconteudo .file-drop-area {
	    margin: 15px 0;
	}

	.criacaodeconteudo .file-drop-area .img_fake {
	    height: 68px;
        width:  100% !important;
	}

	.criacaodeconteudo .file-drop-area .conteudoimg_item .img_fake {
	    height: 68px;
	    width: 205px !important;
	}
}

/* IPHONE 8 */
@media only screen 
  and (min-width: 375px) 
  and (max-width: 414px) {

	.btnsconteudo .btn {
	    padding: 8px 18px;
	}

	.mainconteudo .conteudoimgthumb {
	    width: 100%;
	}

	.mainconteudo .infoconteudo {
    	padding: 215px 0px 0px 0px;
	}

	.mainconteudo .detailsconteudo {
	    padding: 30px 0 0;
	    position: relative;
	}

	.mainconteudo .opcoesconteudo button {
	    width: 46%;
	    border: 1px solid;
	    float: left;
	    margin: 5px;
	}

	.estatisticabody .tableresults .imgtitle {
	    padding-left: 0;
	    margin-left: 0;
	    float: none;
	    border-left: 0;
	}

	.criacaodeconteudo .info-numeric {	margin-right: 80px; }
	.criacaodeconteudo .info-satisfacao {	margin-right: 85px; }
	.criacaodeconteudo .info-concordancia { margin-right: 120px; }
	.criacaodeconteudo .info-frequencia { margin-right: 90px; }
	.criacaodeconteudo .info-emocional { margin-right: 115px; }

	.firstbuttons {
		button { font-size: 0.9em }			
	}

	.admin-page .cadastrouser .btn {
	    padding: 7px 35px;
	    margin-left: 0;
	    margin-top: -15px;
	    margin-bottom: 30px;
	    width: 100%;
	}

	.admin-page .alert-message {
	    border-left: 0;
	    padding: 0;
	    font-size: 0.9em;
	    height: auto;
	}

	.admin-page .cadastrouser label {
	    margin-left: 0px;
	}

	.criacaodeconteudo .file-drop-area {
	    margin: 15px 0;
	}

	.criacaodeconteudo .file-drop-area .img_fake {
	    height: 68px;
        width: 100% !important;
	}

	.criacaodeconteudo .file-drop-area .conteudoimg_item .img_fake {
	    height: 68px;
	    width: 260px !important;
	}
}

/* IPHONE 8plus */
@media only screen 
  and (min-width: 414px) 
  and (max-width: 500px) {

	.btnsconteudo .btn {
	    padding: 8px 18px;
	}

	.mainconteudo .conteudoimgthumb {
	    width: 100%;
	}

	.mainconteudo .infoconteudo {
    	padding: 215px 0px 0px 0px;
	}

	.mainconteudo .detailsconteudo {
	    padding: 30px 0 0;
	    position: relative;
	}

	.mainconteudo .opcoesconteudo button {
	    width: 46%;
	    border: 1px solid;
	    float: left;
	    margin: 5px;
	}

	.estatisticabody .tableresults .imgtitle {
	    padding-left: 0;
	    margin-left: 0;
	    float: none;
	    border-left: 0;
	}

	.criacaodeconteudo .info-numeric {	margin-right: 120px; }
	.criacaodeconteudo .info-satisfacao {	margin-right: 130px; }
	.criacaodeconteudo .info-concordancia { margin-right: 165px; }
	.criacaodeconteudo .info-frequencia { margin-right: 135px; }
	.criacaodeconteudo .info-emocional { margin-right: 160px; }

	.firstbuttons {
		button { font-size: 0.9em }			
	}

	.admin-page .cadastrouser .btn {
	    padding: 7px 35px;
	    margin-left: 0;
	    margin-top: -15px;
	    margin-bottom: 30px;
	    width: 100%;
	}

	.admin-page .alert-message {
	    border-left: 0;
	    padding: 0;
	    font-size: 0.9em;
	    height: auto;
	}

	.admin-page .alert-message {
	    border-left: 0;
	    padding: 0;
	    font-size: 0.9em;
	    height: auto;
	}

	.admin-page .cadastrouser label {
	    margin-left: 0px;
	}

	.criacaodeconteudo .file-drop-area {
	    margin: 15px 0;
	}

	.criacaodeconteudo .file-drop-area .img_fake {
	    height: 68px;
        width: 100% !important;
	}

	.criacaodeconteudo .file-drop-area .conteudoimg_item .img_fake {
	    height: 68px;
	    width: 100% !important;
	}
}

@media only screen 
  and (min-width: 575px) 
  and (max-width: 764px) {

  	.admin-page .cadastrouser label {
	    margin-left: 0px;
  	}

  	.admin-page .cadastrouser .btn {
  		margin-left: 55px;
  	}

  	.admin-page .alert-message {
  		padding: 0 15px;
    	height: auto;
  	}

  	.criacaodeconteudo .file-drop-area {
	    padding: 3px 5px;
  	}

  	.criacaodeconteudo .file-drop-area .img_fake {
	    height: 68px;
    	width: 100% !important;
  	}

  	.criacaodeconteudo .file-drop-area .conteudoimg_item .img_fake {
	    height: 68px;
    	width: 100% !important;
  	}

	.mainconteudo .conteudoimg {
	    clip: rect(0px, 394px, 200px, 10px);
	}

  	.mainconteudo .conteudoimg img {
    	height: 394px;
	}

	.btnsconteudo .btn {
	    padding: 8px 18px;
	}

	.mainconteudo .infoconteudo {
    	padding: 215px 0px 0px 0px;
	}

	.mainconteudo .detailsconteudo {
	    padding: 30px 0 0;
	    position: relative;
	}

	.mainconteudo .opcoesconteudo button {
	    width: 46%;
	    border: 1px solid;
	    float: left;
	    margin: 5px;
	}

}

// SM
/* Portrait and Landscape */
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1024px) {

  	.mainconteudo .paragraphconteudo {
	    margin: 0;
	    font-size: 0.9em;
	}

	.btnsconteudo .btn {
	    padding: 8px 18px;
	}

	.mainconteudo .infoconteudo {
    	padding: 15px 0px 0px 216px;
	}

	.mainconteudo .detailsconteudo {
	    padding: 30px 0 0;
	    position: relative;
	}

	.mainconteudo .opcoesconteudo button {
	    width: 100%;
	    border: 0;
	    float: none;
	    margin: 0;
	}

	.criacaodeconteudo .info-numeric {	margin-right: 190px; }
	.criacaodeconteudo .info-satisfacao {	margin-right: 200px; }
	.criacaodeconteudo .info-concordancia { margin-right: 30px; }
	.criacaodeconteudo .info-frequencia { margin-right: 200px; }
	.criacaodeconteudo .info-emocional { margin-right: 225px; }

	.admin-page .alert-message {
	    border-left: 0;
	    padding: 0;
	    height: 140px;
	    font-size: 0.9em;
	    margin-top: 15px;
	}

	.admin-page .cadastrouser label {
	    margin-left: 0px;
	}

	.admin-page .cadastrouser .btn {
		margin-left: 55px;
	}

	.criacaodeconteudo .file-drop-area {
	    padding: 3px 5px;
	}

	.criacaodeconteudo .file-drop-area .img_fake {
		height: 68px;
	    width: 82px !important;
	}

	.criacaodeconteudo .file-drop-area .conteudoimg_item .img_fake {
	    height: 68px;
    	width: 72px !important;
	}
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-width: 834px) 
  and (max-width: 1112px) {

  	.criacaodeconteudo .file-drop-area {
  		padding: 13px 5px;
  	}

  	.criacaodeconteudo .file-drop-area .img_fake {
  		height: 68px;
    	width: 121px !important;
  	}

	.criacaodeconteudo .file-drop-area .conteudoimg_item .img_fake {
	    height: 68px;
	    width: 111px !important;
	}
}