@charset "UTF-8";

@font-face {
  font-family: "intera-icons";
  src:url("fonts/intera-icons.eot");
  src:url("fonts/intera-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/intera-icons.woff") format("woff"),
    url("fonts/intera-icons.ttf") format("truetype"),
    url("fonts/intera-icons.svg#intera-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "intera-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "intera-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\61";
}
.icon-coluna:before {
  content: "\62";
}
.icon-criarlista:before {
  content: "\63";
}
.icon-drag:before {
  content: "\64";
}
.icon-editar:before {
  content: "\65";
}
.icon-escala:before {
  content: "\66";
}
.icon-grid:before {
  content: "\67";
}
.icon-incorporar:before {
  content: "\68";
}
.icon-informacao:before {
  content: "\69";
}
.icon-lista:before {
  content: "\6a";
}
.icon-lixo:before {
  content: "\6b";
}
.icon-pesquisa:before {
  content: "\6c";
}
.icon-plus:before {
  content: "\6d";
}
.icon-visualizar:before {
  content: "\6e";
}
